.DS_store
scrapper/data
scrapper/__pycache__
scrapper/scrapper_env
dags/files/clean*
dags/files/output*
dags/files/raw*
data_warehouse/drafts/snowflake_load_products.py
data_warehouse/drafts/snowflake_load_sales.py